@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
    font-family: -apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif;
	background: #f1f1f1;
    color: #222222;
	font-size: 1.15em;
}

.container {
	background: #ffffff;
}

.content {
	font-size: 1.05em;
    line-height: 1.65;
    letter-spacing: 0.02em;
}

.navbar-item,
.navbar-link {
    padding: 0.5rem;
}

.navbar-menu .navbar-item:hover,
.navbar-link:hover {
    background: none !important;
    border-bottom: none !important;
    text-decoration: underline !important;
}

.icon-size-normal {
    font-size: 1.3em;
}

.icon-size-normal:hover {
    color: #101010;
}

.content a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2d96bd;
}

.topbar-icon i:hover {
    color: #686666;
}

.tag-color,
.content a {
    color: #2d96bd;
}

.has-text-home {
    /* color: #a7a7aa; */
}

.slash {
    border-bottom: 1px dotted #d1d1d1;
}

.post-img {
    width: 100%;
    /* height: 300px; */
}

.post-img:hover {
    opacity: 0.9;
}

blockquote {
    display: block !important;
    border-left: 0.5rem solid #6bd6fd !important;
    background-color: rgba(107, 214, 253, 0.2) !important;
    padding: 0.25rem 0.75rem !important;
    margin: 1rem 0 !important;
}
